Package: com.huhansibuxin.wechatnotifyfix
Name: WeChatNotifyFix
Version: 1.0.11-d
Architecture: iphoneos-arm64
Description: Fix WeChat notification missing vibration/sound during foreground-to-background transition (DIAGNOSTIC)
Maintainer: huhansibuxin
Author: huhansibuxin
Section: Tweaks
