Package: com.huhansibuxin.wechatnotifyfix
Name: WeChatNotifyFix
Version: 1.0.14-d
Architecture: iphoneos-arm64
Description: Fix WeChat notification (DIAGNOSTIC: AsyncOnAddMsgForSession + AudioServices + UNNotification)
Maintainer: huhansibuxin
Author: huhansibuxin
Section: Tweaks
